.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.login__logo {
    height: 30vh;
}

.login__btn {
    height: 50px;

    border: 0;
    font-family: "Poppins", sans-serif;
    background: #14213d;
    color: #f8b6cc;
    font-size: x-large;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    max-width: 500px;
}

.login__link {
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

.login__signUpBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    color: #14213d;
    border: 2px solid #14213d;
    padding: 5px;
    font-weight: 900;
}

.login__forgotLink {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #14213d;
}
