@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap");
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(50deg, rgba(248, 182, 204, 1) 0.5%, rgba(192, 198, 230, 1) 49%, rgba(225, 246, 240, 1) 105%);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none;
}
.opt {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
    }
}
html {
    font-size: 16px;
}
@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1025px) {
    .app {
        display: none;
    }
    .opt {
        display: block;
        font-family: "Poppins", sans-serif;
        text-align: center;
        margin-top: 50vh;
    }
}
